:root{
    --black: #2F2F2F;
    --eggshell: #F9F7F6;
    --darkGreen: #456E71;
    --lightGreen: #D7E1DC;
    --red:#CB441B;
    --border-radius: 25px;
    --box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.1);
    --box-shadow-dark: 1px 1px 20px 5px rgba(0, 0, 0, 0.3);
    --dotted-border: 3px dotted;
    --dotted-border-sm: 1px dotted;
    --active: 3px solid var(--darkGreen);
    --sans: futura-pt, sans-serif;
    --serif: eskorte-latin, serif;
}
html{
    overflow-x:auto;
}
*, *::before, *::after{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    margin: 0 auto;
    width: 100%;
    background-color: var(--eggshell);
    overflow-y: visible;
    overflow-x:hidden;
}
#header {
    grid-area: header;
    margin: 0 auto 30px auto;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: var(--black);
    width: 100%;
    height:auto;
    position: relative;
}
#top-menu-background{
    display: none;
    position: absolute;
    width: 100vw;
    height: 30px;
    top:0;
    left: 0;
    background-color: var(--black);
    }
#menu-background{
    display: none;
    position: absolute;
    width: 100vw;
    height: 60px;
    bottom:0;
    left: 0;
    background-color: var(--eggshell);
    }
#header-wrap{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas:
    "nav logo search";
    width: 100%;
    max-width: 960px;
    margin: auto;
    position: relative;
    z-index: 80;
    align-items: end;
    padding: 10px 5px;
}
main {
    grid-area: main;
    width: 100%;
    height: auto;
    max-width: 960px;
    padding: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "top"
    "lcolumn"
    "rcolumn";
    position:relative;
}
#footer{
    grid-area: footer;
    height: auto;
    background-color:var(--black);
    text-align: center;
    color: var(--eggshell);
    font-family: var(--sans);
}
#topSection{
    grid-area: top;
    height: auto;
    padding-bottom: 40px;
    overflow: hidden;
}
#leftColumn, #rightColumn {
    width: 100%;
}
#leftColumn{
    grid-area: lcolumn;
}
#rightColumn{
    grid-area: rcolumn;
    justify-content: left;
    width: 100%;
}
#rightColumn h4{
    font-family: var(--serif);
    color: var(--black);
    letter-spacing: 0.05rem;
    text-transform: none;
    font-size: 1.6rem;
    font-weight: 400;
}
/*FONT STYLES*/
h1{
    font-family: var(--serif);
    font-style: italic;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
}

h2{
    font-weight: 400;
    font-size: 1.8rem;
    display: block;
    position: relative;  
    margin: 0;
}
h3{
    font-family: var(--sans);
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--darkGreen);
    font-size: 1rem;
    letter-spacing: .08rem;
    margin: 0;
}
h5{
    font-family: var(--sans);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
   letter-spacing: .05rem;
}
p{
    font-weight: 200;
    font-size: 1rem;
}
a {
    padding: 0;
    text-decoration: none;
    cursor: pointer;
}
button{
    cursor:pointer;
}
.active{
    border-bottom: var(--active);
}
.headingDottedLine {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	font-family: var(--sans);
	font-style: normal;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1rem;
	margin-bottom: 20px;
    color: var(--darkGreen);
}
.headingDottedLine::before,
.headingDottedLine::after {
	content: "";
	flex: 1 1 auto;
	border-bottom: var(--dotted-border) var(--darkGreen);
}
.headingDottedLine::before {
	margin-right: 10px;
}
.headingDottedLine::after {
	margin-left: 10px;
}
.headingDottedLine h2 {
	flex: 0 1 auto;
}
/*HEADER STYLES*/

#logo{
    grid-area: logo;
    justify-self: center;
    align-self: end;
    text-align: center;
    width: auto;
    height: auto;
}

#logo img{
    width: 100px;
    height: auto;
}
#logo a{
    color: var(--black);
    text-decoration: none;
}

#dropMenu{
    grid-area: nav;
    justify-self: start;
}
.menuHide{
    display: none;
}
.menuShow{
    display: flex;
    flex-direction: column;
}
/*NAVIGATION STYLES*/
#small-nav{
    display: none;
    z-index: 100;
    position: relative;
}
nav {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: var(--black);
    position: absolute;
    z-index: 100;
    left: 0px;
    top: 0px;
    margin: 0;
}
nav a{
    font-family: var(--sans);
    font-weight: 400;
    transition: weight ease 300ms;
    text-transform: capitalize;
    color: var(--eggshell);
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    margin-bottom: 0 10px 10px 0;
}
nav a:hover, nav a:focus{
    color: var(--lightGreen);
    font-weight: 600;
}
#navAbout{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.btn-top{
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer; 
}
.btn-top:hover{
    transform: scale(1.1);
	transition: all ease 300ms;
}

#menuClose #searchClose{
    width: 100%;
    padding: 10px;
}

.menu-close .btn-top{
    float: left;
    color: var(--lightGreen);
}
/*search*/
#searchDrop{
    grid-area: search;
    justify-self: end;
    position: relative;
    
}
#searchBox{
    width: 100vw;
    position: absolute;
    left:0;
    top: 0;
    background-color: var(--black);
    text-align: center;
    padding: 10px 20px;
    height: 20vh;
}
#searchInput{
    justify-self: center;
    margin: auto;
    width: 100%;
    height: 40px;
}
.searchHide{
    display: none;
}
.searchShow{
    display: flex;
    flex-direction:column;
}
.search-close .btn-top{
    float: right;
    color: var(--lightGreen);
}
.search{
    width: 75%;
    height: 100%;
    margin: 0;
    padding-left: 10px;
    font-size: 1rem;
}
.searchInput{
    width: auto;
    height: 100%;
    margin: 0;
    background-color: var(--lightGreen);
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
 
/*RIGHT SIDEBAR*/
.whiteBox{
    background-color: #fff;
    margin: auto;
}
.sideBox{
    padding:40px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width:300px;
    margin-bottom:20px;
}
.sideBox p, .sideBox a{
    font-family: var(--sans);
    font-style: normal;
    font-weight: 500;
}
.aboutLinks{
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutLinks a{
    color: var(--red);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1rem;
    font-weight: 600;
}
.aboutLinks a:hover{
    color: var(--darkGreen);
}
.flower{
    width: 50px;
    margin: 0 10px;
}
.aboutImage{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: var(--lightGreen);
    margin: auto;
    object-fit: cover;
    border: 10px solid var(--lightGreen);
}
#subscribe{
    display: flex;
    flex-direction: column;  
    margin: 0 auto;
    border: 4px solid var(--lightGreen);
    height: auto;
    width: 100%;
    align-items: center;
}
#subscribe p{
    font-size: 1.2rem;
    margin: 0 auto 10px auto;
}
#subscribe h4{
    font-weight: 600;
    margin: 10px auto;
}
.sideSubscribe .email{
    padding: 12px 20px;
    margin: auto;
    font-size: 1rem;
    color: var(--black);
    box-shadow: var(--box-shadow);
}
.sideSubscribe .submitButton{
    width: 40%;
    margin:20px auto;
    background-color: var(--black);
    color: var(--eggshell);
    border-radius: var(--border-radius);
    font-family: var(--sans);
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 0;
    border: 0 none;
}
.sideSubscribe .submitButton:hover{
    background-color: var(--darkGreen);
}

@media screen and (min-width: 900px){
    
    #header-wrap{
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 20px 1fr 60px;
        grid-template-areas:
        "sub sub"
        "logo logo"
        "nav search";
        padding: 0;
        position: relative;
    }
    #menu-background, #top-menu-background{
        display: block;
    }
    #logo{
        padding: 30px 0;
        justify-self: center;
        align-self: start;
        width: auto;
        height: auto;
    }
    #logo a{
        width: 150px;
        height: auto;
    }
    h1{
        font-size: 2.8rem;
    }
    #dropMenu{
        display: none;
    }
    #navAbout{
        display: none;
    }
    .menu-close{
        display: none;
    }
    .menuHide{
        display: flex;
        flex-direction: row;
    }
   nav {
        grid-area: nav;
        width: auto;
        height: auto;
        background-color: transparent;
        display: flex;
        position: relative;
        align-self: center;
        padding: 15px;
    }
    nav a{
        transition: color ease 300ms;
        color: var(--black);
        font-size: 1.2rem;
        margin-right: 15px;
        display: inline-block;
    }
    nav a:hover{
        color:var(--darkGreen);
        font-weight: 400;
    }
    #searchDrop{
        align-self: center;
    }
    #searchBox{
        width: 100%;
        top: 100%;
        height: auto;
        z-index: 100;
        padding-bottom: 30px;
    }
    main{
        display: grid;
        gap: 40px 40px;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr auto;
        grid-template-areas:
        "top top"
        "lcolumn rcolumn";
        margin-bottom: 20px;
    }
    #rightColumn{
        width: 360px;

  }
  
  }




